.playarea {
  background-image: url('imgs/background.jpg');
  height: 450px;
  width:960px;
  z-index:0;
}

.babadook {
  position: fixed;
  left: 0px;
  top: 230px;
  z-index:999;
}

.redballoon {
  height: 50px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  background-color: red;
  z-index: 9;
  animation-name: fall;
  animation-direction: left;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes fall {
  0% {margin-top: 0px;}
  50% {margin-left: 75px;}
  100% {margin-top: 400px;}
}

.yellowballoon{
  height: 50px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  background-color: yellow;
  z-index: 9;
  animation-name: float;
  animation-direction: left;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes float {
  0% {margin-top: 0px;}
  5% {margin-left: 15px;}
  10% {margin-right: 75px;}
  30% {margin-left: 45px;}
  100% {margin-top:400px;}
}

.orangeballoon {
  height: 50px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  background-color: orange;
  z-index: 9;
  animation-name: float;
  animation-direction: left;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.greenballoon {
  background-color: lightgreen;
  height: 50px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  z-index: 9;
  animation-name: fall;
  animation-direction: right;
  animation-duration: 11s;
  animation-iteration-count: infinite;
}

.blueballoon {
  background-color: blue;
  height: 50px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  z-index: 9;
  animation-name: fall;
  animation-direction: right;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.purpleballoon {
  background-color: purple;
  height: 50px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  z-index: 9;
  animation-name: float;
  animation-direction: left;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
